<section class="oe_container">
    <div>
        <div class="text-center">
            <p>
                <img src="logo.png" style="width:200px;">
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Payment Term Installment Due Amount With Due Date</h2>
        <div>
            <h4>Features</h4>
            <ul>
            	<li style="font-weight:bold">This module show the due amount based on the payment term configuration. </li>
            	<li style="font-weight:bold">This module show the payment due amount with due date in customer invoice and vendor bills based on the payment term selected in invoice and vendor bills.</li>
            	<li style="font-weight:bold">This module work in any kind of payment term configuration.</li>
            </ul>
        </div>
        <div class="oe_screenshot" style="text-align: left;border: 1px solid gray">
            <ul>
                <li style="font-weight:bold;">Below is the payment term configuration you can create any kind of configuration based on fixed amount, percentage and balance type.</li>
            </ul>
            <img style="max-width: 100%;" src="payment_term_conf.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Set the Payment Term in Customer Invoice.</li>
            </ul>
            <img style="max-width: 100%;" src="invoice_total.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Based on Invoice Date you can see the Payment Term Installment with Due Date and Due Amount.</li>
            </ul>
            <img style="max-width: 100%;" src="invoice_installments.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Set the Payment Term in Vendor Bill.</li>
            </ul>
            <img style="max-width: 100%;" src="vendor_bill_payment_term.png"><br /><br/>
            <img style="max-width: 100%;" src="vendor_bill_total.png"><br /><br/>
            <ul>
                <li style="font-weight:bold;">Based on the Bill Date Payment Term Installment Show with Due Date and Due Amount</li>
            </ul>
            <img style="max-width: 100%;" src="vendor_bill_installment.png"><br /><br/>
        </div>
     </div>
</section>

<section class="oe_container">
	<p style="font-weight:bold;color: red">This Module work in Odoo V11 Community Version. </p>
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Contact For Support And Odoo Customization.</h2>
        Email : anil.patel13688@gmail.com 
    </div>
    <div class="oe_slogan">
        <p target="_blank">
            <img src="logo.png" style="width: 150px; margin-top: 25px;" class="center-block">
        </a>
    </div>
</section>